In [2]:
#program1
class Counter:
    # Class variable: shared among all instances
    count = 0

    def __init__(self):
        # Instance variable: unique to each object
        self._count = 0

    def increment(self):
        # Increment both instance and class variable
        self._count += 1
        Counter.count += 1

    def get_counts(self):
        # Return both instance and class count
        return f"Instance count: {self._count}, Class count: {Counter.count}"


# Create two objects of Counter class
a = Counter()
b = Counter()

# Call increment method on object 'a' twice
a.increment()  # a._count = 1, Counter.count = 1
a.increment()  # a._count = 2, Counter.count = 2

# Call increment method on object 'b' once
b.increment()  # b._count = 1, Counter.count = 3

# Print counts for both objects
print(a.get_counts())  # Output: Instance count: 2, Class count: 3
print(b.get_counts())  # Output: Instance count: 1, Class count: 3

Instance count: 2, Class count: 3
Instance count: 1, Class count: 3

Task1: Difference between Counter.count and self._count

* Counter.count: A class variable shared by all objects. Tracks total increments across all instances.

* self._count: An instance variable. Tracks increments for that specific object only.

Task2: Output of a.get_counts() and b.get_counts()

* a.get_counts() → Instance count: 2, Class count: 3
* b.get_counts() → Instance count: 1, Class count: 3

Task3: Effect of increment() method
* Increases instance variable by 1 (self._count)
* Increases class variable by 1 (Counter.count)

In [3]:
## program 2
# Define function to accept multiple arguments using *args
def sum_all(*args):
    return sum(args)

# Call the function with multiple numbers
print("Sum of 1, 2, 3 is:", sum_all(1, 2, 3))
print("Sum of 4, 5, 6, 7 is:", sum_all(4, 5, 6, 7))

Sum of 1, 2, 3 is: 6
Sum of 4, 5, 6, 7 is: 22

In [9]:
###program: 3
def first_word(word_list):
    sorted_list = sorted(word_list)   # Sort the list alphabetically
    return sorted_list[0]             # Return the first item

# Example input
students = ['Mary', 'Zelda', 'Jimmy', 'Jack', 'Bartholomew', 'Gertrude']

# Function call and output
print(first_word(students))  # Output: Bartholomew

Bartholomew

In [10]:
####program 4:
# Base class
class Employee:
    employee_count = 0     # Class variable to count number of employees
    total_salary = 0       # To calculate average salary later

    def __init__(self, name, family, salary, department):
        self.name = name
        self.family = family
        self.salary = salary
        self.department = department
        Employee.employee_count += 1
        Employee.total_salary += salary

    def average_salary(self):
        if Employee.employee_count == 0:
            return 0
        return Employee.total_salary / Employee.employee_count


# Subclass
class FulltimeEmployee(Employee):
    def __init__(self, name, family, salary, department):
        super().__init__(name, family, salary, department)


# Create instances of Employee and FulltimeEmployee
emp1 = Employee("Alice", "Smith", 50000, "HR")
emp2 = FulltimeEmployee("Bob", "Johnson", 60000, "Finance")
emp3 = FulltimeEmployee("Carol", "Williams", 70000, "IT")

# Call member functions
print("Total Employees:", Employee.employee_count)
print("Average Salary:", emp1.average_salary())
print("Employee 1 Name:", emp1.name)
print("Employee 2 Name:", emp2.name)
print("Employee 3 Department:", emp3.department)

Total Employees: 3
Average Salary: 60000.0
Employee 1 Name: Alice
Employee 2 Name: Bob
Employee 3 Department: IT